@import "tailwindcss";
@import "mapbox-gl/dist/mapbox-gl.css";

@theme {
  --color-dash-dark: #09232D;
  --color-dash-teal: #4fd1c5;
  --color-dash-purple: #d15fe2;
  --color-dash-orange: #ff7e5f;
  --color-dash-blue: #3182ce;
  --color-dash-red: #e53e3e;
  --color-dash-bg: #f4f7f9;
}

:root {
  --font-poppins: "Poppins", sans-serif;
}

@layer utilities {
  .hero-grid {
    background-image:
      linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
    background-size: 40px 40px;
  }

  .ticket-cutout {
    --notch-size: 16px;
    mask-image:
      radial-gradient(
        circle var(--notch-size) at 0% 12%,
        transparent 98%,
        black 100%
      ),
      radial-gradient(
        circle var(--notch-size) at 0% 52%,
        transparent 98%,
        black 100%
      ),
      radial-gradient(
        circle var(--notch-size) at 100% 12%,
        transparent 98%,
        black 100%
      ),
      radial-gradient(
        circle var(--notch-size) at 100% 52%,
        transparent 98%,
        black 100%
      );
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
    mask-composite: intersect;
    -webkit-mask-image:
      radial-gradient(
        circle var(--notch-size) at 0% 12%,
        transparent 98%,
        black 100%
      ),
      radial-gradient(
        circle var(--notch-size) at 0% 52%,
        transparent 98%,
        black 100%
      ),
      radial-gradient(
        circle var(--notch-size) at 100% 12%,
        transparent 98%,
        black 100%
      ),
      radial-gradient(
        circle var(--notch-size) at 100% 52%,
        transparent 98%,
        black 100%
      );
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-composite: source-in;
  }
}
